{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <table>
          <thead>
            <tr>

            </tr>
          </thead>
          <tbody>
            {% for todo in todos %}
            <li>{{todo.id}} - "To Do" - {{todo.name}}</li>
            <form method="post" action="/">
              <button type="submit" name="cardid" value={{todo.id}}> Move to Done </button>
            </form>
            {% endfor %}
          </tbody>
        </table>
      </ul>
    </div>
  </div>
{% endblock %}